[Unit]
Description=Registers docker container to consul for service catalog
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/etc/consul-registrator
ExecStart=/etc/consul-registrator/consul-registrator.py start
ExecReload=/etc/consul-registrator/consul-registrator.py restart
ExecStop=/etc/consul-registrator/consul-registrator.py stop

[Install]
WantedBy=multi-user.target
